*{
    margin: 0;
    font-family: Arial;
    
    
    
}
body{
    background-color: #cccccc;
}

.navbar{
    height: 60px;
    background-color:#00453e ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    height: 58px;
    width: 118px;
    
}

.logo{
background-image: url("amazon_images/amazonlogo.png");
    height: 40px;
    width: 90px;
    background-size: cover;
    margin-left: 13px;
    margin-top: 9px;
    
}

.border{
    border:2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}


.add-first{
    color: #cccccc;
    font-size: 11px;
    margin-left: 13px;
}
.add-sec{
    color: #ffffff;
    font-size: 14px;
    margin-left: 2px;
}

.add-icon{
    
    display:flex;
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
    margin-left: 14px;
    margin-right: 15px;
    flex:1;
    
    height: 38px;
    border-radius: 5px;
}

.search-select{
    background-color: #cccccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    width: 50px;
    border: none;
}

.search-input{
    width:100%;
    border: none;
}

.search-icon{
    width: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd6d;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}




span{
    font-size: 12px;
}

.nav-second{
    font-size: 14px;
    font-weight: 700;
}
.nav-signin{
    margin-right: 10px;
}


.nav-return{
    margin-right: 10px;
    margin-left: 10px;
}


.nav-cart i{
    font-size: 25px;
}

.nav-cart{
    font-size: 0.8rem;
    font-weight: 700;
    margin-right: 25px;
    
}

.panel{
    height: 39px;
    background-color:#195851;
    display: flex;
    color: white;
    align-items: center;

}

.panel-all{
    align-items: left;
    margin-left: 20px;
    font-weight: 700;
    font-size: 15px;
}
.panel-ops{
    width: 82%;
    display: flex;
    margin-left: 10px;
    
    
    
}

.panel-ops p{
    display: inline;
    font-size: 14px;
    margin-left: 18px;
}

.pan-deals{
    font-size: .9rem;
    font-weight: 700;
    
}
.hero-section{
    background-image: url(amazon_images/heroimage0.jpg);
    height: 300px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: 9px;
    margin-right: 9px;

    
}

.hero-message{
    height: 40px;
    background-color: white;
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    font-size: 14px;
}

.hero-message a{
    color: #007185;

}
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(#00453e,white);
    flex-wrap: wrap;
    margin-left: 9px;
    margin-right: 9px;
    

}
.box{
    background-color:white;
    width: 352px;
    height: 390px;
    padding: 20px 0px 15px;
    margin-top: 20px;
    margin-bottom: 1 rem;
}

.box11{
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    width: 300px;
    background-color: red;
}



.box-img{
    
    height: 300px;
    margin-top:10px ;
    margin-bottom: 23px;
    background-size: cover;
    
}


.box-compimg{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:310px;
    height: 300px;
    
}

.comp1{
    
    
    width: 46%;
    height: 38%;
    
}
.comp1 img{
    background-size: cover;
    width: 98%;
    height:98%;
    
}


.box-content{
    
    margin-left: 18px;
    margin-right: 18px;
    
}
.box-content a{
    font-size: 21px;
    font-weight: 700;
}
.box-content p{
    color: #007185;
    font-size: 13px;
    font-weight: 510;
}



footer{
    margin-top: 15px;
}

.foot-panel1{
    height: 35px;
    background-color:#37475a;
    align-items: center;
    display: flex;
    justify-content: space-evenly;

}

.foot-panel2{
    color: white;
    background-color:#222f3d;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    
}
ul{
    margin-top: 15px;
}

ul a{
    display: block;
    font-size: 1rem;
}

.foot-panel3{
    background-color: #222f3d;
    
    height: 70px;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo2{
    background-image: url(amazonlogo.png);
    background-size: cover;
    height: 50px;
    width: 110px;
}